*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
**/*.bst
**/*.bbl
**/*.blg


__pycache__/
.DS_Store
*/data/python_code_dataset.csv
*/data/translation_checkpoint.json
.streamlit/
API.txt
*/workspaceArchiver.txt
*/ignore_files.txt